@import 'config';

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#main {
    margin: 0;
    overflow: hidden;
}

//Nav Bar
nav {
    width: 100%;
    height: 7vh;
    background-color: rgb(58, 58, 58);
    margin: 0;
    padding: 0;
    @include flex-center;
    position: sticky;
    top: 0;
    z-index: 2;

    ul {
        margin: 0;
        padding: 1rem 0;


        li {
            list-style: none;
            display: inline;
            padding: 0.7rem;
            border: 1px solid #fff;

            &:hover {
                background: lighten(#444, 5);
            }


            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

//Header Banner
.parallax {
    overflow: hidden;
    height: 50vh;
    color: #fff;

    &:first-child {
        height: 60vh;
    }
}

#header {
    width: 100%;
    height: 150%;
    background: url(../img/banner1.jpg);
    @include parallax;
    @include flex-center;
    z-index: -1;



    .title {

        text-align: center;
        position: relative;
        bottom: 0;
        color: #fff;

        h1 {
            margin-top: 0;
        }

    }


}

//Tab Set One

#tab-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    width: 70%;
    margin: 3rem auto;
    grid-gap: 3rem;

    .item {
        background-color: #f2f2f2;


        img {
            width: 100%;

        }

        .text {
            padding: 0 1rem;
        }
    }


    .green {
        color: green;
    }

    .blue {
        color: blue;
    }

    .red {
        color: red;
    }

    .btn {
        border-radius: 10px;
        background-color: green;
        color: #fff;
    }
}

//Two Column Section
#tab-2 {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 1fr;

    .text {
        padding: 1rem;
    }

    img {
        width: 100%;
    }

    .item {
        background-color: #f2f2f2;
    }
}

//Our Services Section
#services {
    margin-top: 3rem;
    width: 100%;
    height: 350%;
    background-image: url(../img/banner2.jpg);
    @include flex-center;
    @include parallax;
    text-align: center;

    .title {
        text-align: center;
        position: relative;
        top: 0;
    }

}

//Column Set Two

.col4 {

    width: 70%;
    margin: 3rem auto;

    display: grid;
    grid-template-areas:
        "col1 col2 col3 col4"
        "big-col big-col big-col big-col";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 3rem;

    .text {
        padding: 1rem;

        h1 {
            text-align: center;
        }
    }

    .col-item1 {
        grid-area: col1;
        background-color: #f2f2f2;

    }

    .col-item2 {
        grid-area: col2;
        background-color: #f2f2f2;

    }

    .col-item3 {
        grid-area: col3;
        background-color: #f2f2f2;

    }

    .col-item4 {
        grid-area: col4;
        background-color: #f2f2f2;

    }

    .big-col {
        grid-area: big-col;
        background-color: #f2f2f2;
    }



    img {
        width: 100%;
    }
}

#contact {
    background-image: url(../img/banner3.jpg);
    margin-top: 3rem;
    width: 100%;
    height: 350%;
    @include flex-center;
    @include parallax;
    text-align: center;
}